<%= render "navbar" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('auditorium.jpg') %>')">
  <div class="container d-flex align-items-center flex-column">
    <h1>Awesome movie lists</h1>
    <p>Classic</p>
  </div>
</div>


<div class="container d-flex justify-content-between mt-5 mb-3 align-items-baseline">
  <h1>My Lists</h1>
  <%= link_to new_list_path, class: "btn btn-flat my-3" do%>
    <i class="fa-solid fa-plus"></i> Create a movie list
  <% end%>
</div>


 <div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mt-3">
      <% @lists.each do |list| %>
        <div class="col mb-3">
          <% img_url = list.photo.attached? ? cl_image_path(list.photo.key, height: 300, crop: :fill) : asset_path('film-roll.jpg') %>
          <div class="card-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= img_url %>')">
            <%= link_to list.name, list_path(list), class: "stretched-link" %>
          </div>
        </div>
      <% end%>
  </div>
</div>
