<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('auditorium.jpg') %>')">
  <div class="container d-flex align-items-center flex-column">
    <h1>New list</h1>
    <p>Choose a name and upload a picture for your list</p>
  </div>
</div>

<div class="container w-50">
  <%= simple_form_for @list, defaults: { input_html: { class: 'form-group' } } do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: 'btn btn-primary'  %>
  <% end %>
</div>
